@model TourManagement.DTO.Dto_ChiPhi
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa chi phí</h2>

<h3>Bạn có chắc muốn xóa chi phí này?</h3>
<div>
    <h4>Chi phí</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại chi phí
        </dt>

        <dd>
            @Model.TenLoaiChiPhi
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>

