@model List<TourManagement.DTO.Dto_ThongKeLoiNhuanTour>

@{
    ViewData["Title"] = "Thống Kê";
}

<h2>Thống kê</h2>
<hr />

<p>
    @Html.ActionLink("Thống kê lợi nhuận", "Loinhuan")
</p>

<hr />
<p>
    @Html.ActionLink("Thống kê chi phí", "Chiphi")
</p>

<hr />
<p>
    @Html.ActionLink("Thống kê nhân viên", "Nhanvien")
</p>


