@model TourManagement.LoaiTour

@{
    ViewBag.Title = "Xóa loại tour";
}

<h2>Xóa loại tour</h2>

<h3>Bạn có chắc muốn xóa loại tour này?</h3>
<div>
    <h4>Loại tour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại tour
        </dt>

        <dd>
            @Model.TenLoai
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
